@page "{id?}"
@model SkuModel
@{
    ViewData["Title"] = "Product Prices";
}

<h1>Product </h1>

@if (Model.ShowProduct)
{
    <p>
        <strong>ID:</strong> <code>@Model.ProductId</code>
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>Marknad</th>
                <th>Pris</th>
                <th>Valuta</th>
                <th>Start och slut</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.OptimisedPrices)
            {
                var price = item.UnitPrice.ToString("#.##");
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.MarketId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => price)
                    </td>
                    <td>
                        @Html.DisplayFor(modelIem => item.CurrencyCode)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ValidFrom)
                        <span> - </span>
                        @Html.DisplayFor(modelItem => item.ValidUntil)
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    @*<p>Some products...</p>
    @foreach (var item in Model.Products)
    {
        <div><a href="/sku/@(item.CatalogEntryCode)">@item.CatalogEntryCode</a></div>
    }*@
    <p>Product @Model.ProductId not found</p>
}
